<!-- When dealing with RESTful resources, calls to form_for can get significantly easier if you rely on record identification. In short, you can just pass the model instance and have Rails figure out model name and the rest:

creating a new post long-style:
  form_for(@post, url: posts_path)
  
  same thing, short-style (record identification gets used):
  form_for(@post) -->

<!-- editing an post long-style:
  form_for(@post, url: post_path(@post), html: {method:"put"})
  
  short-style:
  form_for(@post) -->

<%= form_for(@post) do %>
  <label>Post title:</label><br>
  <%= text_field_tag :title, @post.title %><br></br>
 
  <label>Post Description</label><br>
  <%= text_area_tag :description, @post.description %><br></br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= submit_tag "Submit Post" %>
<% end %>