<!--<%= form_tag posts_path do %>
    <label>Post title:</label><br>
    <%= text_field_tag :title %><br>
   
    <label>Post Description</label><br>
    <%= text_area_tag :description %><br>
   
    <%= submit_tag "Submit Post" %>

  <% end %>-->

  <!-- Refactored code below populates fields and submits to update path -->

  <%= form_for @post do |f| %>
    <%= f.label 'Post Title' %><br>
    <%= f.text_field :title %><br>
   
    <%= f.label 'Post Description' %><br>
    <%= f.text_area :description %><br>
   
    <%= f.submit "Submit Post" %>
  <% end %>